<div class="d-flex align-items-center justify-content-center vh-10">
    <div class="bg-light p-5 rounded ContainerContact text-center w-75">
      <h1 class="display-4">Blogify</h1>
      <p class="my-4">Crie seu blog do seu jeito, com seu estilo, do jeito que você desejar.</p>
  
      <p class="lead">
        <%= link_to 'Publique Algo', root_url, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
</div>
  