<div class="bg-light p-5 rounded ContainerContact ">
    <h1 class="display-4">Blogify</h1>
    <p class="my-4">Crie seu blog do seu jeito, com seu estilo, do jeito que você desejar.</p>

    <p class="lead">
        <%= link_to 'Crie Sua Conta', new_user_path, class: 'btn btn-primary btn-lg' %>
    </p>
</div>
